.header { padding: 2.5rem; }
.content { padding-top: 6rem; padding-bottom: 6rem; }
.center {text-align: center;}

.header-title {
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  font-weight: 600; }

.conejo { width: 70%; }
@media (min-width: 550px) { .conejo { width: 320px; } }
