.header { padding: 2.5rem; }
.content { padding-top: 5rem; padding-bottom: 5rem; }
.center {text-align: center;}

.header-title {
  font-family: 'Comfortaa', cursive;
  font-size: 2.7rem;
  letter-spacing: .2rem;
  font-weight: 600;
  color: #333; }

.conejo { font-size: 25rem; text-decoration: none }
.conejo:hover { text-decoration: none; }
